$primary: #faadb2;
$primary-dark: #dc4765;

.contacts {
  height: calc(100% - 52px - 36px);
  overflow-y: auto;
  overflow-x: hidden;
}

.contact {
  padding: 0.6rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 200ms;

  &:hover {
    background-color: darken($primary-dark, 5);
  }

  .contactInfo {
    &.addContact {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    span {
      font-weight: 600;
    }

    .latestMessage {
      font-size: 0.8rem;
      max-width: 100%;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 768px) {
  .contact {
    font-size: 0.8rem;
  }
}
